streamlit
schedule
numpy
pandas
random2
times
python-csv
datetime
more-itertools
opencv-python
imutils
joblib
scipy
collections-extended
secure-smtplib
pyOpenSSL
#threading
#queue
#os-sys
pickle-mixin
sklearn
tensorflow
keras
matplotlib
texteditor
# cmake
dlib

ibm-watson-machine-learning